<%= stylesheet_link_tag 'owl.carousel' %>
<%= stylesheet_link_tag 'owl.theme.default' %>

<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "owl.carousel" %>

<!-- content-box-home div -->
<div id="content-box-home">

	<!-- content-home div -->
	<div id="content-home">

		<div class="owl-carousel owl-theme">
          
		  <div class="carousel-img"><%= image_tag("home.jpg") %></div>
		  <div class="carousel-img"><%= image_tag("carousel2.jpg") %></div>
		 
		</div>
		
		<!-- text-box div -->
		<div id="text-box">
			<h1>Welcome to the Penn State Behrend Lion Ambassadors Website!</h1>
		</div>
		<!-- END text-box div -->

	</div>
	<!-- END content div -->

	<!-- radio-buttons div -->
	<div id="radio-buttons">
	</div>
	<!-- END radio-buttons div -->
	
</div>
<!-- END content-box div -->

<script>
$(document).ready(function(){
  $('.owl-carousel').owlCarousel();
});
</script>